<div class="page-header">
   LET US HELP YOU
  </div>
<div id="paytm-checkoutjs">
    <section class="chat__section conatiner" style=" height: 70vh; background-color:rgb(0 0 0 / 4%)">

    <div class="message__area ">
        <div class="incoming message">
            <p hidden id="userId"><%=details['id']%></p>
            <h4>Medicare</h4>
            <p id="username">How are u <%=locals.user.name%></p>
        </div>
        <div class="incoming message">
            <h4>Medicare</h4>
            <p id="output">Please check your details : </p>
            <p> Height - <%= details['height']%> foot</p>
            <p>Weight - <%= details['weight']%> Kg</p>
            <p>Age - <%= details['age']%> years</p>
            
        </div>
        <div class="incoming message">
            <h4>Medicare</h4>
            <p id="username">If above details are blank/incorrect then please type "Update" otherwise type "Continue"</p>
        </div>
    </div>
    <div id="text" class="row" style="text-align: center;" >
        <textarea class="col s11" id="textarea" cols="30" rows="1"  onkeypress='validate(event)'  placeholder="Write a message..." style="color:white;background-color: #012e55;border: none;border-radius: 50px; padding:10px 15px;"></textarea>
        <button type="button" class="msg-send-btn" style="transition: background-color .2s ease-out;border-radius: 50%; color: white; border: none;line-height: 36px;padding: 0px 16px;background-color:rgb(10, 83, 131)"><i class="fab fa-telegram-plane"></i></button>      
    </div>
    </section>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chatBot.js"></script>