<%=status%>
<!-- to process the payment

    <a href="../<%=first%>/<%=second%>/chat">Call Now</a>  

-->
<!--just to skip the payment process -->
<a href="/users/<%=first%>/<%=second%>/chat">Call Now</a>