<!--Modal sugar graph-->
<div id="sugarGraph" class="container modal">
  <div class="modal-content">
    <h4 class="subheading-two">Your sugar level :</h4>
    <div class="container graph-area">
      <canvas id="sugChart" width="400" height="300"></canvas>
    </div>
  </div>
</div>
<!--Modal weight graph-->
<div id="weightGraph" class="container modal">
  <div class="modal-content">
    <h4 class="subheading-two">Your weight changes :</h4>
    <div class="container graph-area">
      <canvas id="wChart" width="400" height="300"></canvas>
    </div>
  </div>
</div>
<!--Modal BP graph-->
<div id="bpGraph" class="container modal">
  <div class="modal-content">
    <h4 class="subheading-two">Your BP changes :</h4>
    <div class="container graph-area">
      <canvas id="bpChart" width="400" height="300"></canvas>
    </div>
  </div>
</div>

<!--Modal get sugar-->
<div class="modal" id="getSugarValue">
  <div class="modal-content">
    <span>Your latest sugar level :</span>
    <form action="/users/updateSugar/<%=user.id%>" method="post">
      <input  type="text" name="sugLevel" placeholder="Sugar level ">
      <button type="submit" class="btn-teal">Update</button>
    </form>
  </div>
</div>
<!--Modal get temprature-->
<div class="modal" id="getTemp">
  <div class="modal-content">
    <span>Your latest Temprature measure :</span>
    <form action="/users/updateTemp/<%=user.id%>" method="post">
      <input type="text" name="temp" placeholder="Temprature in deg celcius">
      <button type="submit" class="btn-teal">Update</button>
    </form>
  </div>
</div>
<!--Modal get Weight-->
<div class="modal" id="getWeight">
  <div class="modal-content">
    <span>Your latest Weight measure :</span>
    <form action="/users/updateWeight/<%=user.id%>" method="post">
      <input type="text" name="wt" placeholder="Weight in Kg">
      <button type="submit" class="btn-teal">Update</button>
    </form>
  </div>
</div>
<!--Modal get bp-->
<div class="modal" id="getBP">
  <div class="modal-content">
    <span>Your latest Blood Pressure (mg/dl):</span>
    <form action="/users/updateBP/<%=user.id%>" method="post">
      <div class="row" style="display:flex;justify-content: space-between;">
      <input class="col s5" type="text" name="bplvalue" placeholder="BP -low">
      <input class="col s5" type="text" name="bphvalue" placeholder="BP -Up ">
      </div>
      <button type="submit" class="btn-teal">Update</button>
    </form>
  </div>
</div>


<div style="background-color: #f8f9fa;">
  <div class="page-header">
    Dashboard
  </div>
  <div class="content" style="min-height:44.5px; padding-top: 20px;">
    <div class="container-fluid" style="padding-left: 20px;padding-right: 20px;">
      <div class="row">
        <div class="col s12 m5 l4 xl3 SideBar">
          <div style="position:sticky; top:20px;">
            <div class="profile-slidebar">
              <div class="widget-profile" style="text-align: center;">
                <img style=" width: 120px;height: 120px; border-radius: 10%;" src="<%=user.avatar%>">  
                <h5 style="font-weight: 500;"><%=user.name%></h5>
                <p style="color: gray; font-size:medium;"><%=user.age%> | <%=user.gender%> </p>
              </div>
              
              <div class="widget-content">
                <div class="dashboard-menu nav" style="padding: 20px; font-size: 1.5rem;">
                  <div class="nav-item" style="margin-bottom: 5px;">
                    <a href="" class="active" aria-current="page">
                      <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">
                        dashboard
                      </i><span>Dashboard</span>
                    </a>
                  </div>
                  <div class="nav-item" style="margin-bottom: 5px;">
                    <a href="/users/reports" class="active" aria-current="page">
                      <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">
                        summarize
                      </i><span>Reports</span>
                    </a>
                  </div>
                  <div class="nav-item" style="margin-bottom: 5px;">
                    <a href="" class="active" aria-current="page">
                     <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">local_hospital</i>
                     <span>Medical details</span>
                    </a>
                  </div>
                  <div class="nav-item" style="margin-bottom: 5px;">
                    <a href="" class="active" aria-current="page">
                     <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">question_answer</i>
                     <span>Messages</span>
                    </a>
                  </div>
                  <div class="nav-item" style="margin-bottom: 5px;">
                    <a href="/users/editProfile" class="active" aria-current="page">
                     <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">manage_accounts</i>
                     <span>Edit Profile</span>
                    </a>
                  </div>
                  <div class="nav-item">
                    <a href="" class="active" aria-current="page">
                     <i class="large material-icons" style="font-size: 1.5rem; vertical-align: middle;padding-right: 15px;">logout</i>
                     <span>LogOut</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m7 l8 xl9">
          <div class="row">
            <div class="Counts-representation  col s12">
              <div class="card-box" style="margin-bottom:10px;">
                <div class="row" style="padding: 1.5rem;">
                  <div class="col s12 m6 l3">
                   <div class="dash-widget">
                     <div class="RCP" style="margin-right: 5px;width: 105px !important;">
                      <img style=" width: 60px;height: 60px;" src="/images/weight-icon.png">
                    </div>
                    <div class="dash-widget-info"><h6>Body Weight</h6><h5 style="color: #32acdf;"><%=user.bodyWeight[user.bodyWeight.length -1]%><span style="font-size: x-small;">kg</span> 
                      <a  href="#getWeight" class="modal-trigger"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Update value" style="color:rgb(255, 0, 0);vertical-align: middle;">edit</i></a>
                    </h5></div>
                   </div> 
                  </div>
                  <div class="col s12 m6 l3">
                    <div class="dash-widget">
                      <div class="RCP" style="margin-right: 5px;width: 105px !important;">
                       <img style=" width: 60px;height: 60px;" src="/images/temp-clip.png">
                     </div>
                     <div class="dash-widget-info"><h6>Body Temp.</h6><h5 style="color: #32acdf;"><%=user.temprature%>
                      <a href="#getTemp" class="modal-trigger"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Update value" style="color:rgb(255, 0, 0);vertical-align: middle;">edit</i></a>
                     </h5></div>
                    </div> 
                   </div>
                   <div class="col s12 m6 l3">
                    <div class="dash-widget">
                      <div class="RCP" style="margin-right: 5px;width: 105px !important;">
                       <img style=" width: 60px;height: 60px;" src="/images/glucose-clip.png">
                     </div>
                     <div class="dash-widget-info"><h6>Glucose Level</h6><h5 style="color: #32acdf;"><%=user.bloodSugar[user.bloodSugar.length -1]%>
                      <a class="modal-trigger" href="#getSugarValue"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Update value" style="color:rgb(255, 0, 0);vertical-align: middle;">edit</i></a>
                     </h5></div>
                    </div> 
                   </div>
                   <div class="col s12 m6 l3">
                    <div class="dash-widget">
                      <div class="RCP" style="margin-right: 5px;width: 105px !important;">
                       <img style=" width: 60px;height: 60px;" src="/images/bp-clip.png">
                     </div>
                     <div class="dash-widget-info"><h6>Blood Pressure</h6><h5 style="color: #32acdf;"><%=user.BP[user.BP.length -1].bphvalue%>/<%=user.BP[user.BP.length -1].bphvalue%><span style="font-size: x-small;">mg/dl</span>
                      <a class="modal-trigger" href="#getBP"><i class="material-icons tooltipped" data-position="bottom" data-tooltip="Update value" style="color:rgb(255, 0, 0);vertical-align: middle;">edit</i></a>
                     </h5></div>
                    </div> 
                   </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="Graph-representation  col s12">
              <div class="card-box" style="margin-bottom:10px;">
                <div class="card-title" style="border-bottom: 1px solid #f0f0f0; margin-bottom: 15px;">
                <span style="font-size: 1.5rem;">Graph Status</span></div>
                <div class="row">
                  <div class="col s12 m6 l4 patient-graph-box" style="display: flex;">
                    <a class="graph-box modal-trigger tooltipped" data-position="top" data-tooltip="See Graph" href="#weightGraph">
                      <div>
                        <h4 style="font-size: 1.5rem;">Weight Status</h4>
                      </div>
                      <div class="graph-img">
                        <img src="images/bmi-graph.png">
                      </div>
                      <div class="graph-status-result mt-3">
                        <span class="graph-update-date white-text">Last Update 6d</span>
                      </div>
                    </a>
                  </div>
                  <div class="col s12 m6 l4 patient-graph-box">
                    <a href="#sugarGraph" class="modal-trigger graph-box tooltipped" data-position="top" data-tooltip="See Graph"style="background-color: #ffa69e; border-bottom: 8px solid #fe9286;">
                      <div>
                        <h4 style="font-size: 1.5rem;">Blood Sugar</h4>
                      </div>
                      <div class="graph-img">
                        <img src="images/sug-graph.png">
                      </div>
                      <div class="graph-status-result mt-3">
                        <span class="graph-update-date white-text">Last Update 6d</span>
                      </div>
                    </a>
                  </div>
                  <div class="col s12 m6 l4 patient-graph-box">
                    <a href="#bpGraph" class="graph-box modal-trigger tooltipped" data-position="top" data-tooltip="See Graph" style="background-color: #a9d4ff; border-bottom: 8px solid #8ec4ff;" >
                      <div>
                        <h4 style="font-size: 1.5rem;">Blood Pressure</h4>
                      </div>
                      <div class="graph-img">
                        <img src="images/bp-graph.png">
                      </div>
                      <div class="graph-status-result mt-3">
                        <span class="graph-update-date white-text">Last Update 6d</span>
                      </div>
                    </a>
                  </div>
                  
                              
                </div>
            </div>
          </div>
          <div class="appointments" style="padding-left: 20px;">
              <div class="row">
              <div class="appointments-tabs col m12" style="font-weight: 700; padding: 0%;">
                  <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#Appointment" >Appointments</a></li>
                    <li class="tab col s3"><a href="#prescription">Prescriptions</a></li>
                    <li class="tab col s3"><a href="#M-history" >Medical Records</a></li>
                  </ul>
                </div>
            <div id="Appointment" class="col m12" style="background-color: white;">
              <table class="highlight" style="overflow-x: scroll;">
                <thead>
                  <tr>
                    <th>Doctor Name</th>
                    <th>Appt Date</th>
                    <th>Booking Date</th>
                    <th class="text-center">Paid Amount</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
              
                  <tr>
                    <td><p class="table-avatar"><a class="avatar avatar-sm mr-2" href="/images/doc1.png">
                      <img class="avatar-img rounded-circle" src="/images/doc1.png" alt="User" style="float:left; vertical-align: middle; width: 50px;height: auto;border-radius: 100%;"></a>
                      <a href="" class="tooltipped" data-tooltip="See profile" style="font-weight: 500;font-size:1.2rem;">Dr. Amodita Rastogi<span style="color: rgb(78, 78, 78); font-size: x-small; display: block;">#392819</span></a></p>
                    </td>
                    <td>11 Nov 2019 <span style="color: rgb(31, 142, 233); display: block;">10.00 AM</span></td>
                    <td>9 Nov 2019 <span style="color: rgb(31, 142, 233); display: block;">10.00 AM</span></td>
                    <td class="text-center">$150</td>
                    <td class="text-center"><span style="padding:3px;color: #034e16; background-color: #26af488c; font-size: 12px; font-weight: 500;">Confirm</span></td>
                    <td class="text-right">
                      <div class="table-action">
                      <a class="waves-effect waves-light btn-small" href="" style="color: #1db9aa; background-color: rgba(2, 182, 179,0.12);"><i class="far fa-eye"></i> View</a>
                      <a class="waves-effect waves-light btn-small" style="color: #26af48; background-color: rgba(15, 183, 107,0.12);" href=""><i class="material-icons">print</i> Print</a>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="prescription" class="col m12" style="background-color: white;">
              <table class="highlight" style="overflow-x: scroll;">
                <thead>
                  <tr>
                    <th>Created By</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><p class="table-avatar"><a class="avatar avatar-sm mr-2" href="/images/doc1.png">
                      <img class="avatar-img rounded-circle" src="/images/doc1.png" alt="User" style="float:left; vertical-align: middle; width: 50px;height: auto;border-radius: 100%;"></a>
                      <a href="/template/doctor/patient-profile" style="font-weight: 500;font-size:1.2rem;">Dr. Somil Mishra<span style="color: rgb(78, 78, 78); font-size: x-small; display: block;">Dental</span></a></p>
                    </td>
                    <td>11 Nov 2019</td>
                    <td>General</td>
                    <td class="text-right">
                      <div class="table-action">
                      <a class="waves-effect waves-light btn-small" href="#" style="color: #1db9aa; background-color: rgba(2, 182, 179,0.12);"><i class="far fa-eye"></i> View</a>
                      <a class="waves-effect waves-light btn-small" style="color: #26af48; background-color: rgba(15, 183, 107,0.12);" href="#"><i class="material-icons">print</i>Print</a>
                     </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="M-history" class="col m12" style="background-color: white;">
              <table class="highlight" style="overflow-x: scroll;">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th class="text-center">Attatchment</th>
                    <th>Doctor</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">#f150</td>
                    <td>11 Nov 2019 <span style="color: rgb(31, 142, 233); display: block;">10.00 AM</span></td>
                    <td>Dental Problem</span></td>
                    <td>none</span></td>
                    <td><p class="table-avatar"><a class="avatar avatar-sm mr-2" href="/images/doc1.png">
                      <img class="avatar-img rounded-circle" src="/images/doc1.png" alt="User" style="float:left; vertical-align: middle; width: 50px;height: auto;border-radius: 100%;"></a>
                      <a href="" style="font-weight: 500;font-size:1.2rem;">Dr. Amodita Rastogi<span style="color: rgb(78, 78, 78); font-size: x-small; display: block;">#392819</span></a></p>
                    </td>
                    <td class="text-right">
                      <div class="table-action">
                      <a class="waves-effect waves-light btn-small" href="" style="color: #1db9aa; background-color: rgba(2, 182, 179,0.12);"><i class="far fa-eye"></i> View</a>
                      <a class="waves-effect waves-light btn-small" style="color: #26af48; background-color: rgba(15, 183, 107,0.12);" href=""><i class="material-icons">print</i> Print</a>
                      </td>

                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sugchartData" data-test=<%=user.bloodSugar %>></div>
    <div id="weightchartData" data-test=<%=user.bodyWeight %>></div>
    <div id="bpchartData" data-test=<%=user.BP%>></div>
  </div>
</div>


 <!--Floating corner-->
 <div class="fixed-action-btn">
  <a class="btn-floating btn-large blue darken-9 tooltipped" data-tooltip="Consult now" href="/users/chatBot"  style = "width: 7rem; height: 7rem; background-color: #bf0e1c !important;">
    <img src="/images/consult-now.png" style="width: 5rem; height:6rem;">
  </a>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var sugchartData = document.getElementById('sugchartData').dataset.test;
  var sugdata=sugchartData.split(","); 
  var wchartData = document.getElementById('weightchartData').dataset.test;
  var wdata=wchartData.split(",");
</script>
<script>
//var len=user.length
  const labels = ['I','II','III','IV','V', 'VI','VII','VIII','IX','X'];
  const data = {
    labels: labels,
    datasets: [{
      label:'<%=user.name%> <%=user.lname%>: last 10 days test' ,
      backgroundColor: 'rgb(209, 16, 58)',
      borderColor: 'rgb(209, 16, 58)',
      data: sugdata,
    }]
  };
 const config = {
    type: 'line',
    data: data,
    options: {}
  };
const myChart = new Chart(
    document.getElementById('sugChart'),
    config
  );

</script>
<script>
   const data2 = {
    labels: labels,
    datasets: [{
      label:'<%=user.name%> <%=user.lname%>: last 10 days test' ,
      backgroundColor: 'rgb(209, 16, 58)',
      borderColor: 'rgb(209, 16, 58)',
      data: wdata,
    }]
  };
  const config2 = {
    type: 'line',
    data: data2,
    options: {}
  };
  const myChart2 = new Chart(
    document.getElementById('wChart'),
    config2
  );
  const myChart3 = new Chart(
    document.getElementById('bpChart'),
    config2
  );
</script>